{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/four/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/three/css/bootstrap.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'comment/css/comment.css' %}">
<style type="text/css">
    #bg{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
</style>

{% include 'nav.html' %}

<body id="bg" style="background-image: url('{% static "img/white 1.png"%}');">


<div class="col-sm-12" style="padding-top: 60px">
<div id="content">
    <div class="col-sm-12">

<center><h1 style="color: #250CFF; font-family: Roboto;">Best Online Education Platform</h1></center>


<center><img src="{% static "img/studentD.png" %}" alt="moses" class="card-img-top"></center>


<center><h1 style="color: #250CFF; font-family: Roboto;">Kick start your professional journey with us!</h1></center>
<br>
<br>

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="text-align: center;">
        <h2 style="color: #FF5300; font-family: Roboto;">Our Head of Departments</h2>
    </div>
    <div class="col-sm-4"></div>
</div>

<div class="row"> 
    <div class="col-sm-3">

      <div class="card">
        <img src="{% static "img/androidD.png" %}" alt="moses" height="320px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Mr Ndumiso Mncwango, H.O.D Android Development</h5>
                        <p class="card-text">Having 3 years of Android development in corporate world, Ndumiso had a long time ago dream of Teaching people, as soon as our platform was established, he was the first staff to join us.</p>
                    </div>
                </div> 

    </div> 
      <div class="col-sm-3"> 
          <div class="card">
        <img src="{% static "img/DjangoB.png" %}" alt="moses" height="320px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Miss Snokuhle Ngcamphalala, H.O.D of Django & ML</h5>
                        <p class="card-text">Big time Dr. Snokuhle having coding in Django Python Web Framework with combination of Machine Learning in order to solve people's problem by developing powerfully intelligent systems.</p>
                    </div>
                </div> 
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img src="{% static "img/androidF.png" %}" alt="moses" height="320px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Mr Chris Phakathi, H.O.D of PHP & Linux</h5>
                        <p class="card-text">Chris Phakathi, has beening working in big Internet Service Provider. Her experience came after given administration role of all servers owned by Vodaphone in South Africa. She joined us in 2020 and working very hard.</p>
                    </div>
                </div> 
        
    </div> 

     <div class="col-sm-3"> 
          <div class="card">
        <img src="{% static "img/networkA.png" %}" alt="moses" height="320px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Lwandza Dlamini, H.O.D of Graphics & Animation</h5>
                        <p class="card-text">Lwandza, has beening working in big televesion in UK.His experience came after given head of content development by Sky Sport in South Africa. He joined us in 20219.</p>
                    </div>
                </div> 
    </div>

</div>
                </div>

<style type="text/css">
    #footer {
    position: absolute;
    height: 70px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
</style>                

            </div>

 <div class="row bg-dark" style="padding-top: 80px">           
<div class="fixed-bottom" id="footer">
    <center><p style="color: white">Powered by SimsMncwango ©2024</p></center>
</div>
</div>

        </div>


    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>

</body>
</html>


